<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @atividade_tipo.tipo %>
</p>

<%= link_to 'Edit', edit_atividade_tipo_path(@atividade_tipo) %> |
<%= link_to 'Back', atividade_tipos_path %>
