<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @usuario_tipo.usuario %>
</p>

<%= link_to 'Edit', edit_usuario_tipo_path(@usuario_tipo) %> |
<%= link_to 'Back', usuario_tipos_path %>
